:root {
  --navbarBackground: #f2f2f2;
  --navbarLink: #ababae;
  --mainBlue: #1a4ea0;
  --mainGray: #8d8d8d;
  --footerBackground: #333;
  --footerSecondaryText: #81817c;
}

body {
  margin: 0;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 20px;
  color: var(--mainGray);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 20px;
  color: var(--mainGray);
}